<head>
  <title>Parents & Childrens</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="nodes.js"></script>


  <script type="text/template" id="nodes">
    <h4 class="pageHeading">Please click on the name of the parents to see the childrens</h4>

    <% _.each(nodes, function(parents) { %>
      <div class="container">
        <div class="row">
          <div class="tree">
            <ul>
              <li>
                <a href="#<%= parents.id %>" data-toggle="collapse">
                  <%= parents.parentsName %>
                </a>

                <ul id="<%= parents.id %>" class="collapse">
                  <% _.each(parents.childs, function(child) { %>
                    <li>
                      <a href="#">
                        <%= child %>
                      </a>
                    </li>
                    <% }); %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <% }); %>
  </script>


</body>
